@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background: #4084ac;
  background-image: linear-gradient(-225deg, #cbbacc 0%, #4084ac 100%);
  background-size: cover;
  background-position: center;
}

@layer components {
  .glass-card {
    @apply bg-white bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-40 rounded-lg shadow-xl;
  }
  .glass {
    @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-40 rounded-lg shadow-xl;
  }
}

.button-primary {
  background: #5b6b75;
  color: white;
}

.button-primary:disabled {
  box-shadow: none;
  background: #9ca3af;
  color: gray;
}
.button-primary:disabled:hover {
  box-shadow: none;
}
